# Arquivos de Dependências
node_modules/

# Arquivos de Configuração
.env

# Logs
logs/
*.log
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
