/* CustomAlert.css */

.custom-alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    height: 40px; /* Defina a altura da caixa */
    background-color: grey;
    color: white;
    padding: 10px; /* Ajuste o padding conforme necessário */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 4px; /* Adicionando bordas arredondadas */
    border-bottom-right-radius: 4px;
}

.custom-alert button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    padding: 0;
    margin-left: 10px;
}

.custom-alert span {
    flex: 1; /* Ocupa o espaço restante */
    text-align: center; /* Centraliza o texto horizontalmente */
}