.page-container {
  min-height: 100vh; /* Defina uma altura mínima para a Page */
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 5px;
  margin-bottom: 30px;
}

.spacer {
    margin-right: 10px; /* Adiciona margem à direita para criar espaço entre as palavras */
  }