/* Estilo para o espaçador */
.spacer {
    margin-right: 10px; /* Adiciona margem à direita para criar espaço entre as palavras */
  }

.inicio-pagina {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start; /* Alinhe o conteúdo no topo do contêiner */
  height: 120vh; /* Defina a altura da página para preencher toda a altura da janela */
  padding-top: 10px; /* Adicione um espaçamento superior para empurrar o conteúdo para baixo */
  margin-top: 0;/* Remova a margem superior padrão do título */
}

.inicio-content {
  max-height: 100vh; /* Defina a altura máxima do conteúdo para 80% da altura da janela */
  overflow-y: auto; /* Adicione rolagem vertical quando o conteúdo exceder a altura máxima */
}